@using VisaHackathon2020.Giveback
@{
    ViewData["Title"] = "Help Your Neighborhood";
}

<div class="text-center m-3 mt-5 pl-5 pr-5">
    <h1 class="display-4">Find and support local businesses<br/>with Visa Giveback</h1>
    <p class="text-muted">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
</div>

<hr/>

@* Obviously this needs better styling to match design docs but its a start *@
<ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-local-tab" data-toggle="pill" href="#pills-local">Help Your Neighborhood</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-global-tab" data-toggle="pill" href="#pills-global">Expand Your Horizons</a>
    </li>
</ul>

<div class="tab-content pr-5 pl-5" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-local" role="tabpanel" aria-labelledby="pills-local-tab">

        <!-- HELP YOUR NEIGHBORHOOD TAB -->

        <div class="input-group">
            <select class="selectpicker form-control" data-live-search="true" title="Find: business or category (optional)">
                @foreach (var category in MerchantCategoryService.Categories)
                {
                    <option value="@category.Id">@category.Name.ToTitleCase()</option>
                }
            </select>
            <div class="input-group-append">

                <button class="btn btn-light" type="button" onclick="requestLocation()">
                    <i class="fa fa-compass"></i>
                    <span id="location-name">
                        <span class="text-muted">Locate me</span>
                    </span>
                </button>
                <script>
                function requestLocation() {
                    if(navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(displayLocation, displayLocationFailed)
                    } else {
                        alert('Your browser does not support geolocation.');
                        $('#location-name').val('Unknown');
                    }
                }
                
                function displayLocation(position) {
                    const result = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + '%2C' + position.coords.longitude + '&language=en&key=' + "@Program.ApiKeys.GoogleMaps";
                    console.log(result)
                    
                    $.getJSON(result).done(function(location) {
                        const state = location.results[0].address_components[4].long_name;
                        const city = location.results[0].address_components[2].long_name;
                        
                        $('#location-name').text(city + ", " + state);
                    });
                }
                
                function displayLocationFailed() {
                    $('#location-name').val('Unknown');
                }
                </script>

                <select class="selectpicker" title="Financial Struggle Level">
                    <option class="text-danger">Red</option>
                    <option class="text-warning">Yellow</option>
                    <option class="text-success">Green</option>
                </select>
                <button class="btn btn-primary" type="button" data-toggle="tooltip" title="Search">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="pills-global" role="tabpanel" aria-labelledby="pills-global-tab">
        B
    </div>
</div>

@*<!--Search Form Section-->
<div class="container padding mt-4 mb-4">
    <form>
      <div class="row">
          <div class="col">
              <input type="text" class="form-control" placeholder="Find: business or category (optional)">
          </div>
          <div class="col">
              <input type="text" class="form-control" placeholder="Near: city or zip">
          </div>
          <div class="col">
              <select class="form-control">
                  <option value="" selected>Financial Struggle Level</option>

              </select>
          </div>
          
      </div>
    </form>
</div> <!-- .container -->*@