@{
    ViewData["Title"] = "Help Your Neighborhood";
}

<!--Title Section-->
<div class="jumbotron-fluid">
    <h1 class="display-4 d-none d-sm-block mt-4 text-center">Find and support local businesses with Visa Giveback</h1>
    <hr class="mt-5 mb-5"/>
</div>
<!--Button Section (Need to add functionality either as a tag or bootstrap button-->
<div class="row">
    <div class="col-md-12 col-lg-6 text-center">
        <h2>Help Your Neighborhood</h2>
    </div>
    <div class="col-md-12 col-lg-6 text-center">
        <h2>Expand Your Horizons</h2>
    </div>
</div>
<!--Search Form Section-->
<div class="container padding mt-4 mb-4">
    <form>
      <div class="row">
          <div class="col">
              <input type="text" class="form-control" placeholder="Find: business or category (optional)">
          </div>
          <div class="col">
              <input type="text" class="form-control" placeholder="Near: city or zip">
          </div>
          <div class="col">
              <select class="form-control">
                  <option value="" selected>Financial Struggle Level</option>

              </select>
          </div>
          
      </div>
    </form>
</div> <!-- .container -->