<div class="text-center p-5">
    <img style="width:450px" class="img-fluid" src="https://assets-ouch.icons8.com/preview/311/10508af6-ef50-4fb9-b82f-ef97b060d5c1.png" alt="">
    <h4 class="text-visa">Thank you!</h4>
    <p>
        Your donation will help support local<br/>
        businesses during these unprecedented times.
    </p>
    <small class="text-muted">
        A receipt of your donation will be sent
        to your email shortly.
    </small>
</div>